.App {
  background-color: lightgrey;
  color: black;
  font-family: 'Montserrat', bold;/*the font-family was imported from google fonts*/
  text-align: center;
  min-height: 100vh;
  min-width: 100vh;
}

.theList {
  margin-top: 20px;
}

.list-item { 
  background-color: lightgreen;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
  outline: 1px solid black;
}

.list-item:hover { /*the hover effect makes it easy for a user to know which todo is being selected*/
  background-color: rgb(145, 137, 137);
  color: rgb(12, 12, 77);
}

.submitButton {
  background-color: rgb(77, 9, 9);
  color: white;
  margin-top: 2px;
  border-radius: 5px;
}

.header {
  background-color: rgb(22, 19, 19);
}

.heading {
  margin-left: 33%;
}

.todoHeading {
  margin-top: 5px;
}


.error { /*if a user tries to submit a blank todo or any other error occurs then this declaration styles the error message*/
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: rgb(168, 56, 78);
  width:30%;
  color: white;
  border-radius: 5px;
  margin-left: 35%;
}

.label, .button {
 margin-left: -90%;
}

.container{
  margin-top: 15px;
}
